@import url(http://fonts.googleapis.com/css?family=Roboto:900italic,700);

*{
	margin: 0;
	padding: 0;
	font-size: 1em;
}

.centrado{
	width: 70%;
	margin: 0 auto;
}

header{
	background: #3F5867 url("../img/space.jpeg") center repeat;
	height: 20em;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 3em;
	-webkit-box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
	-moz-box-shadow:    inset 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
	box-shadow:         inset 0px 0px 30px 0px rgba(0, 0, 0, 0.7);
}




#contador{	
	border-bottom: 2px solid #B72546;
	background: rgba(11,11,11,0.8);
	display: block;
	width: 100%;
	position: fixed;
	color: #fff;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

#contador h1{
	display: inline-block;
	float: left;	
	padding: .6em 1em .6em 1em;
}

h1#titulo{
	margin-left: 2em;
	text-transform: uppercase;
	font-size: 2.2em;
	font-weight: 900;
	font-style: italic;
}

h1#calor{
	color: #B72546;
	text-transform: uppercase;
	font-size: 1.6em;
	font-weight: 900;
	text-align: center;
}

h1#calor span{
	color: #DADADA;
	text-transform: uppercase;
	display: block;
	font-size: .8em;
}

h1#cuentatras{
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	font-weight: 900;
}

h1#cuentatras span{
	text-transform: uppercase;
	display: block;
	font-size: 2.5em;
	font-weight: 900;
}

#particles {
  width: 100%;
  height: 48em;
  margin-top: -2.9em;
  float: left;
  overflow: hidden;
}

.jumbotron{
	padding-top: 5em;	
	background: #3F5867 url("../img/space.jpeg") center no-repeat;
	background-size: cover;	
	overflow: hidden;
} 


.jumbotron aside{
	margin-top: -45em;
	width: 45%;
	height: 40em;
	display: inline-block;	
	float: right;
	background: rgba(11,11,11,0.8);
	text-align: center;
	padding: 8% 1% 1% 1%;
	-webkit-box-shadow:  0px 0px 5px 0px rgba(0, 0, 0, 0.75);
-moz-box-shadow:    0px 0px 5px 0px rgba(0, 0, 0, 0.75);
box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.jumbotron aside form{
	margin: 0 auto;	
	display: block;
	width: 100%;
}

.jumbotron aside h2{
	color: #fff;
	font-size: 1.3em;
}

.jumbotron aside a{
	color: #B72546;
}

.jumbotron aside form input{
	display: block;
	width: 60%;
	margin: 10px auto;
	padding: 5px;
}


.blog{
	margin-top: 2em;
	color: #272727;
	overflow: hidden;
}

.blog .centrado>h1{
	text-transform: uppercase;
	font-size: 2.2em;
	border-bottom: 1px solid #272727;
	margin-bottom: 1em;
}

.blog article{
	width: 60%;
	float: left;
	margin-bottom: 2em;
}

.blog article>h1{
	font-size: 2em;
	border-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

.blog article img{
	margin: 0 auto;
	display: block;
	padding: 10px;
}

.blog article p{
	line-height: 25px;
}

.blog aside{
	width: 38%;
	float: right;
	height: 400px;
}

.blog aside img{
	margin: 0 auto;
	display: block;
	padding: 10px;
}







#contentAsientos{
	height: 25em;
}

#contentAsientos h1{
	color: #232323;
	text-transform: uppercase;
	font-size: 2.2em;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
}

#contentAsientos img{
	margin: 5px;
	cursor: pointer;
}

.sesion{	
	
	height: 4em;
}

.salir{
	float: right;
	padding: .5em;
	background: #DD3045;
	color: #fff;
	text-decoration: none;	
}

.salir:hover{
	background: #EE3045;
	cursor: pointer;
}

.confirmar{
	padding: .5em;
	background: #07A0D8;
	color: #fff;
	text-decoration: none;	
}

.confirmar:hover{
	background: #3B9EFF;
	cursor: pointer;
}



#move{
	animation: animatedBackground 160s linear infinite;
}

@keyframes animatedBackground {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}


em{
	text-transform: capitalize;
	font-weight: bolder;
}


footer{
	border-top: 1px solid #B72546;
	padding-top: 2em;
	height: 100px;
	background: url('../img/pie.png') center repeat-x;
}


@media all and (max-width: 1367px)  {
	.centrado{
		width: 90%;
	}
}